#txt_search{
   color: red;
}
.btn{
    margin-top:70px;
}
#display{
    background-color:white;
    width:950px;
    padding-left:120px;
}
jumbotron{
    height: 120px;
}
#dir{
    color:red;
}
#actor{
    color:red;
}
#plot{
    color:red;
}